/*----------CSS STYLES-----------------*/
body {
	background-color: #e6eef2;
	color: black;
	font-family: Adobe Calson Pro;
	margin: auto;
	padding-top: 0px;
	font-size: 20px;
}
.header {
	position: absolute;


}
.logo {
	position: absolute;
	top: 0px;
	left: 30px;
	width: 300;
	height: 140px;
}
.nav {
	position: absolute;
	top: 280px;
	left: 800px;
	height: 100px;
}
.main {
	position: absolute;
	left: 33px;
	top:400px;
	height: 700px;
	width: 1300px;
}
.mid_nav {
	margin: 0px 0px 0px 30px;
  width: 350px;
  float: left;
  padding: 20px;
	text-align: justify;
	}
	h3 {
		text-align: center;
	}
/*.pic {
	max-width: 200px;
	max-height: 200px;
}
*/
a:link, a:visited {
    color: #bc7e01;
    text-align: center;
    text-decoration: none;
    display: block;
}


a:hover, a:active {
		color: ;
	}
	ul li {
		float: left;
		display: block;
		padding: 5px 5px 5px 5px;
		font-size: 30px;
		font-weight: bold;
	}
.footer {
	position: absolute;
	top:1150px;
	padding-bottom: 20px;
	left: 33px;
	text-align: center;

	width: 1300px;
}
